.ranking-row {
    margin: 40px 0;
    padding: 0 60px;
    position: relative;
    
}

.ranking-row h2 {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.ranking-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ranking-slider {
    display: flex;
    align-items: center;

    justify-content: flex-start;

    position: relative;
    overflow: hidden;
    height: 163px;
    width: auto;
}

.ranking-slider-track {
    display: flex;
    gap: 20px;
    transition: transform 0.3s ease;
    overflow: hidden;
    height: 163px;
    width: auto;
  }

.slide-btn-left,
.slide-btn-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 100px;
    background-color: rgba(20, 20, 20, 0.265);
    border: none;
    z-index: 2;
    display: block;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #fff;
}

.slide-btn-left svg,
.slide-btn-right svg {
  width: 24px;
  height: 24px;
  stroke: #fff;
}

.slide-btn-left {
    left: 0;
}

.slide-btn-right {
    right: 0;
}

.ranking-indicator {
    display: flex;
    justify-content: flex-end;
    gap: 2px;
    margin-top: 10px;
    padding: 0;
    list-style: none;
}

.dot {
    width: 13px;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 2px;
}

.ranking-poster {
    position: relative;
    width: 232px;  
    height: 162px; 
    flex-shrink: 0;
  }

.ranking-item {
    width: 114px;
    height: 162px;
    object-fit: cover;
    border-radius: 0px 2px 2px 0px;
    position: absolute;
    top: 0;
    left: 110px; 
    z-index: 1;
}


/* .ranking-item img {
    width: 114px;
    height: 162px;
    bottom: 0;
    left: 110px;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 0px 2px 2px 0px;
} */


.ranking-icon {
    bottom: 0;
    left: 0px;
    position: absolute;
    right: auto;
    top: 0;
    width: 50%;
    height: 162px;
    z-index: -1;
}

