.ranking-row {
  margin-left: 20px;
  color: white;
}

.ranking-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.ranking-title h2 {
  color: white;
  padding-left: 20px;
  font-size: 25px;
  font-weight: 500;
}

.row {
  position: relative;
  width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

.slide-btn-left,
.slide-btn-right {
  background-clip: content-box;
  padding: 20px 0;
  box-sizing: border-box;
  transition: 400ms all ease-in-out;
  cursor: pointer;
  width: 80px;
  top: 0%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1000;
  visibility: hidden;
  background: none;
  border: none;
}

.slide-btn-left {
  left: 0;
}

.slide-btn-right {
  right: 0;
}

.row:hover .slide-btn-left,
.row:hover .slide-btn-right {
  visibility: visible;
  background: rgba(20, 20, 20, 0.5);
}

.slide-btn-left svg,
.slide-btn-right svg {
  transition: 400ms all ease-in-out;
  stroke: white;
}

.slide-btn-left:hover svg,
.slide-btn-right:hover svg {
  transform: scale(1.5);
}

.swiper-container {
  padding-left: 0; /* Adjusted padding */
  padding-right: 0; /* Adjusted padding */
}

.swiper-slide {
  width: auto !important; /* Ensure each slide takes necessary width */
}

.ranking-item {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.ranking-number {
  font-size: 150px;
  font-weight: bold;
  color: black;
  -webkit-text-stroke: 2px gray;
  flex-shrink: 0;
  transform: scale(1.4) translateY(-4%);
  z-index: 0;
}

.ranking-poster {
  width: 100%;
  height: 163px !important;
  aspect-ratio: 3 /4;
  object-fit: cover;
  border-radius: 4px;
  z-index: 10;
  margin-left: -15px;
  transition: transform 450ms;
}

.ranking-poster:hover {
  transform: scale(1.08);
}

.swiper-button-prev,
.swiper-button-next {
  color: white !important;
}

.swiper-container:hover .swiper-button-prev,
.swiper-container:hover .swiper-button-next {
  opacity: 1;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 1.3rem !important;
  font-weight: 600 !important;
}

.swiper-pagination {
  text-align: right !important;
}

.swiper-pagination-bullet {
  background: gray !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background: white !important;
}


@media screen and (max-width: 1399px) {
    .swiper-slide {
      width: calc((100% - 4 * 30px) / 5);
    }
    .ranking-number {
        font-size: 150px;
     }
    .ranking-poster {
      max-height: 240px;
    }
  }
  

  @media screen and (max-width: 1099px) {
    .swiper-slide {
      width: calc((100% - 3 * 30px) / 4);
    }
  }
  

  @media screen and (max-width: 799px) {
    .swiper-slide {
      width: calc((100% - 2 * 30px) / 3);
    }
    .ranking-number {
      font-size: 100px;
      }
    .ranking-poster {
      max-height: 180px;
    }

  }
  
  @media screen and (max-width: 499px) {
    .swiper-slide {
      width: calc((100% - 1 * 30px) / 2);
    }
  }
